/*
CSS for mobile responsiveness
*/
html, body {
  height: 100%;
  margin: 0;
  background-color:whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
    font-size:large;
}

#map {
  flex: 1;          
  width: 100%;
  margin-top:105px;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 20%;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 16px;
}

/*
to be used for displaying results in address lookup (which is not implemented yet)
*/
.results {
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.results div {
  padding: 8px;
  cursor: pointer;
}

.results div:hover {
  background: #f0f0f0;
}
/*css for buttons */
#resetBtn {
  position: absolute;  
  top: 10px;
  right: 10px;
  z-index: 1000;      
  padding: 8px 12px;
  background-color: red;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

/* Set location buttons */
#setLocClick,
#setLocAddress {
  position: absolute;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 8px 12px;
}

#setLocClick {
  top: 60px;
}

#setLocAddress {
  top: 110px;
}

@media (max-width: 600px) {

  .search-container {
    width: 95%;
    top: 40px; 
  }

  #resetBtn {
    padding: 6px 10px;
    font-size: 14px;
  }

  #setLocClick,
  #setLocAddress {
    left: 5px;
    padding: 6px 10px;
    font-size: 14px;
  }

}